<!DOCTYPE html>
<html>

<head>
    <title>Chọn và điền dữ liệu vào các ô trong bảng</title>
    <!-- <style>
		table, th, td {
		  border: 1px solid black;
		  border-collapse: collapse;
		}
	</style> -->
</head>

<body>
    <!-- <table>
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Mã lớp</th>
                <th scope="col">Tổ thi</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Ngày thi</th>
                <th scope="col">Giờ bắt đầu</th>
                <th scope="col">Số phút</th>
                <th scope="col">Phòng Thi</th>
                <th scope="col">Ghi chú</th>
                <th scope="col">Mã GT-1</th>
                <th scope="col">Mã GT-2</th>
            </tr>
        </thead>
        <tbody>
            {% for item in list_LichThi %}
            <tr>
                <td> {{item.STT}} </td>
                <td> {{item.MaLH}} </td>
                <td> {{item.ToThi}}</td>
                <td> {{item.SoLuong}} </td>
                <td> {{item.NgayThi}} </td>
                <td> {{item.GioBD}} </td>
                <td> {{item.SoPhut}} </td>
                <td> {{item.PhongThi}} </td>
                <td> {{item.GhiChu}} </td>
                <td> {{item.MaGT1}} </td>
                <td> {{item.MaGT2}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table> -->
</body>

</html>